<!DOCTYPE html>
<html>
<head>
<title>Shrivastava</title>
<link href='http://fonts.googleapis.com/css?family=Roboto+Condensed&effect=shadow-multiple' rel='stylesheet' type='text/css'>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Tangerine">
<link rel="stylesheet" href="../css/amaninfo.css">
<link rel="stylesheet" href="../bootstrap/css/bootstrap.min.css">
</head>
<body>
    


  <!-- <div class="back jumbotron "></div>
    <div class="text  opacity font-effect-shadow-multiple">
      <h1   >Hey There </h1>
      <h1  >I am </h1>
      <h1>Aman Shrivastava</h1>-->

<div class="bg-image"></div>

<div class="bg-text blacktext">
  <h2>Hey There</h2>
  <h1 style="font-size:50px" class="blacktext font-effect-shadow-multiple">I am Aman Shrivastava </h1>
  <p>And I'm Software Engineer</p>
  <a class="btn btn-primary btn-lg" href="#item-1" role="button">Know More</a>
</div>
<!--
<div class=" relative">
  <a href=# ><img class="small" src="../images/downhand.png"></a>
</div>
    


    <div class="main back relative">
        <div class="absolute jumbotron jumbo">
            <h1 class="opacity display-4 ">Aman Shrivastava</h1>
            <p class="lead">Software Engineer in Cognizant Technology Solution.</p>
            <hr class="my-4">
            <p class="lead">
              <a class="btn btn-primary btn-lg" href="#item-1" role="button">Know More</a>
            </p>
          </div>
    </div>


-->
        <div id="item-1" class="red relative">
          <div class="vl"></div>
          <div id="experience" >
            <h1 class="fieldex">EXPERIENCE</h1>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
          </div>
          <div id="projects">
            <h1 class="fieldex">Projects</h1>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
          </div>
          <div id="academic" >
            <h1 class="fieldex">EXPERIENCE</h1>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
          </div>
          <div id="projects">
            <h1 class="fieldex">Projects</h1>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
            <p class="fieldex">Working as a embedded software enginner in Cognizant.</p>
          </div>
        </div>

       
      
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="../bootstrap/js/bootstrap.min.js" ></script>

</body>
</html>